# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.classpath
*.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
*/.settings/
/JavaEffective/.idea/$PRODUCT_WORKSPACE_FILE$
/JavaEffective/.idea/.gitignore
/JavaEffective/.idea/encodings.xml
/JavaEffective/.idea/gradle.xml
/JavaEffective/.idea/inspectionProfiles/Project_Default.xml
/JavaEffective/.idea/misc.xml
/JavaEffective/.idea/uiDesigner.xml
/JavaEffective/.idea/vcs.xml
